<%- include('basic.ejs') %>
    <link href="/stylesheets/about.css" rel="stylesheet" type="text/css"/>
    <%- include('nav.ejs') %>

    <div class="wz-page-about" id="page-about">
        <h1>关于我</h1>
        <p>嗨！我叫「王哲」，九零后、技术男、果粉、中医黑，皇马球迷，德棍，宁波佬，现居宁波。</p>
        <p>除了我的博客，同时也欢迎您访问我的 微博 、 GitHub、Instagram 主页。具体的链接右边你可以看的到的。</p>
        <p>其实我一直想给我的博客一个非常酷的名字。但是就如很多事情一样，我做不到很酷，所以我就用自己的名字来命名我自己的博客了。</p>
        <p>我会的技能：</p>
        <ul class="wz-about-get-list">
            <li>HTML5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那些&lt;article&gt; &lt;section&gt; 之类的标签还不知道具体用在哪里的，其他的都会</li>
            <li>JavaScript &nbsp;这个当然会咯，本来这个网站就使用这个语言写出来的</li>
            <li>PHP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年轻的时候，学了世界上"最好"的语言</li>
            <li>MySQL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关系型数据库嘛，总是要会一个的，并且略微懂得怎么优化它</li>
            <li>Linux&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arch 大法好！！！</li>
        </ul>
        <p>如果您想联系我，可以发我邮件 <span class="code">echo d2FuZ3poZWdvb0BnbWFpbC5jb20= | base64 --decode</span></p>
    </div>
    <div class="wz-comment">
        <h1>留言</h1>
        <div id="disqus_thread"></div>
    </div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'byzhewang';
        var disqus_identifier = "WZ_ABOUT_PAGE_IDENTIFIER";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <%- include('profile.ejs') %>
</body>
</html>
