<div class="wz-page-header">
    <span style="font-family: 'Audiowide', cursive;">Byzhe.wang</span>
</div>
<div class="wz-page-nav">
    <ul>
        <li>
            <div class="fa fa-pagelines wz-page-nav-item-icon"></div>
            <a href="/" class="wz-page-nav-item-text">文章</a>
        </li>
        <li>
            <div class="fa fa-archive wz-page-nav-item-icon"></div>
            <a href="/projects" class="wz-page-nav-item-text">过往项目</a>
        </li>
        <li>
            <div class="fa fa-user wz-page-nav-item-icon"></div>
            <a href="/about" class="wz-page-nav-item-text">关于我</a>
        </li>
    </ul>
</div>
